#!/usr/bin/make -f

#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_clean:
	rm -f ./config.log ./po/POTFILES ./po/Makefile.in.in
	dh_clean

override_dh_auto_configure:
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure

%:
	dh $@ --parallel --with autoreconf
